<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
#board {
  position: absolute;
  top: 50px;
  left: 50px;
}
.square {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(54, 145, 61);
  border: 1px solid;
}

#canvas {
  position: absolute;
  top: 50px;
  left: 50px;
  
}

.player {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid;
}
    </style>

    <title>Snake</title>
</head>
<body>
    <button onclick=rollDice()>Roll</button>
<div id=board>
  
</div>
<canvas id=canvas width="1000" height="1000"></canvas>

<script>
    

</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="/js/client.js"></script>

</body>
</html>